// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2, p {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
}

#gameStatus {
  position: absolute;
  z-index: 10;
  padding: 0;
  margin: 0;
  color: #ff0000;
  
  p {
    height: 5rem;
    font-size: 5rem;
  }
}